node_modules
.DS_Store
*.log

# Cloudflare
.wrangler
.dev.vars
wrangler.toml.local
.mf

# Build outputs
dist

# Environment
.env
.env.local
.env.production

# IDE
.vscode/*
!.vscode/settings.json
.idea
